            <div class="card ">
                <div class="card-header ">
                    Webshop
                </div>
                <div class="card-block">
                    <h4 class="card-title">B2B Shop</h4>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span style="display: inline-block; width: 150px; "><h4><span class="tag tag-primary">{{webshopStatus.Neworders}}</span></h4></span> Nieuwe orders </li>
                    <li class="list-group-item"><span style="display: inline-block; width: 150px; "><h4><span class="tag tag-primary">€ {{webshopStatus.OrderAmount}}</span></h4></span> Orderbedrag </li>
                    <li class="list-group-item"><span style="display: inline-block; width: 150px; "><h4><span class="tag tag-primary">{{webshopStatus.NewCustomers}}</span></h4></span> Nieuwe klanten </li>
                </ul>
                <div class="card-block">
                    <a style="color:white" (click)="(gotoWebshop())" class="btn btn-primary">Details</a>
                </div>
            </div>