<app-nav-bar></app-nav-bar>
<div class="container-fluid maincontainer">
	<h3>Web Order {{orderId}}</h3>
  <div class=row>
    <table class="table table-bordered">
      	<thead class="thead-inverse">
				<tr>
					<th>Productcode</th>
					<th>Beschrijving</th>
          <th>Aantal</th>
					<th>Bedrag</th>
				</tr>
			</thead>
      <tbody>
        <tr *ngFor="let line of order.orderLine">
          <td>{{line.productCode}}</td>
          <td></td>
          <td>{{line.quantity}}</td>
          <td>{{line.endUserPrice | currency:'EUR':true}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>