<app-nav-bar></app-nav-bar>
<div class="container-fluid maincontainer">
	<div class="form-group ">
		<div class="input-group ">
			<input type="text" [formControl]="searchString" class="  search-query form-control" placeholder="Search" />
		</div>
	</div>
	<div class="list-group">
  <a *ngFor="let customer of customers" class="list-group-item list-group-item-action">
		<div class="row">
		<div class="col-md-3">{{customer.Name}}</div>
		<div class="col-md-4">{{customer.Address}}</div>
		<div class="col-md-1">{{customer.PostalCode}}</div>
		<div class="col-md-1">{{customer.City}}</div>
		</div>
		</a>
</div>
