<app-nav-bar></app-nav-bar>
<div class="container maincontainer">
    <div class="row">
        <div class="col-md-3">
            <div class="card ">
                <div class="card-header ">
                    Webshop
                </div>
                <div class="card-block">
                    <h4 class="card-title">B2B Shop</h4>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nieuwe orders <span class="label label-primary">42</span></li>
                    <li class="list-group-item">Orderbedrag <span class="label label-primary">42</span></li>
                    <li class="list-group-item">Nieuwe klanten <span class="label label-primary">42</span></li>
                </ul>
                <div class="card-block">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h1>Example <span class="label label-default">New</span></h1>
            <h2>Example <span class="label label-default">New</span></h2>
            <h3>Example <span class="label label-default">New</span></h3>
            <h4>Example <span class="label label-default">New</span></h4>
            <h5>Example <span class="label label-default">New</span></h5>
            <h6>Example <span class="label label-default">New</span></h6>
        </div>
    </div>
</div>